.container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    align-items: center;
    background:#7e92c2;
}

::ng-deep .mat-button-toggle{
    background: linear-gradient(90deg, #4776e6, #8e54e9);
    color: #fff;
    border-radius: 30px;
}